<footer>
    <div layout="row" layout-align="center center">
        <h6>© {{ $ctrl.year }} EVALUATI.one. All rights reserved.
            Icon
            <span>
                <a href="javascript:void(0);">credits</a>.
                <md-tooltip md-direction="top" class="tooltip-multiline">
                    Banking Icons Vector by ahmad bayu<br/>
                    Search Engine Optimization (Flat) by inipagi<br/>
                    Colorful by Aleksandr Reva<br/>
                    Product development by Laura Reen<br/>
                </md-tooltip>
            </span>
        </h6>
    </div>
</footer>