<div class="home-header" flex layout="column" layout-align="center center">
        <img src="img/evaluateone-icon.png" width="128px">
        <h1><strong>EVALUATE</strong>.one</h1>
        <h3>EMPLOYEE FEEDBACK PLATFORM</h3>
</div>

<section flex layout="column" layout-align="center center">
    <header>
        <h1>The Evaluati.one platform</h1>
        <small>Gather feedback to assess personnel competencies and proficiency</small>
    </header>

    <div flex layout="row" layout-align="center center">
        <md-card md-theme-watch style="width: 400px">
            <md-card-content layout="column" layout-align="center center">
                <img src="img/enagagement.svg" width="160px">
                <h3>Employee Engagement</h3>
                <small style="text-align: center">Encourage your employees to engage in their personal development</small>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch style="width: 400px">
            <md-card-content layout="column" layout-align="center center">
                <img src="img/experience.svg" width="185px">
                <h3>Employee Experience</h3>
                <small style="text-align: center">Assess personnel competencies and proficiency: know your superstarts and week players</small>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch style="width: 400px">
            <md-card-content layout="column" layout-align="center center">
                <img src="img/report.svg" width="164px">
                <h3>Employee Effectiveness</h3>
                <small style="text-align: center">Keep your finger on the pulse! Get instant reports & watch personnel grow</small>
            </md-card-content>
        </md-card>
    </div>
</section>

<section flex layout="row" layout-align="center center">
    <div style="max-width: 600px; padding: 0 20px 0 20px">
        <h3>Design a feedback program to perfectly fit your needs</h3>
        Draw on our built-in library or build your own. Enable employees to contribute feedback securely and quickly on almost any device. Control who sees what and when, with powerful access control.
    </div>
    <img src="img/design.svg" width="256px" style="padding: 0 20px 0 20px">
</section>

<section flex layout="row" layout-align="center center">
    <img src="img/money.svg" width="256px" style="padding: 0 20px 0 20px">
    <div style="max-width: 600px; padding: 0 20px 0 20px;">
        <h3>SaaS or on-premise? We are flexible!</h3>
        Subscribe to get access to our on-cloud platform installation with flexible plans or get license for on-premise installations - it's all up to you.
    </div>
</section>

<section flex layout="column" layout-align="center center">
    <header>
        <h1>Pricing</h1>
        <small>Fast start with our on-clound plans</small>
    </header>

    <div flex layout="row" layout-align="center center">
        <md-card md-theme-watch style="width: 400px">
            <md-card-content layout="column" layout-align="center center">
                <img src="img/coin.svg" width="160px">
                <h3>Starter (free)</h3>
                <md-list style="text-align: center">
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>3 feedback</h3>
                            <p>requests allowed</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>up to 30 users</h3>
                            <p>allowed</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3><strong>no</strong> support</h3>
                            <p>provided</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch style="width: 400px">
            <md-card-content layout="column" layout-align="center center">
                <img src="img/briefcase.svg" width="160px">
                <h3>Small Business (50$/m)</h3>
                <md-list style="text-align: center">
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>5 feedback</h3>
                            <p>requests allowed</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>up to 100 users</h3>
                            <p>allowed</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>24/7 support</h3>
                            <p>provided</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch style="width: 400px">
            <md-card-content layout="column" layout-align="center center">
                <img src="img/enterprise.svg" width="160px">
                <h3>Enterprise (150$/m)</h3>
                <md-list style="text-align: center">
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>unlimited feedback</h3>
                            <p>requests allowed</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>unlimited users</h3>
                            <p>allowed</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3>24/7 support + hotline</h3>
                            <p>provided</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <br/>
    <small>For on-premise solution please contact our customer support <a href="mailto:customer@evaluati.one">customer@evaluati.one</a>.</small>
</section>

<section flex layout="column" layout-align="center center" style="text-align: center">
    <h1>Let us show you around</h1>
    We’d love to understand how we can help you reach your goals.<br/>
    Can we set up a time to show you the platform? Call us!
    <h2>+1 012 312 1231</h2>
</section>