<header>Give Feedback</header>

<form name="feedback">
  <div layout-gt-sm="row">
    <md-autocomplete flex required
                     md-selected-item="feedback.author"
                     md-input-name="user"
                     md-min-length="1"
                     md-search-text="searchUserQuery"
                     md-items="item in $ctrl.searchUser(searchUserQuery)"
                     md-item-text="item.username"
                     md-floating-label="Type user name"
                     md-selected-item-change="$ctrl.loadEligibleForm(item)"
                     md-search-text-change="feedback.form=null">
      <md-item-template>
        {{item.name}} (<strong>{{item.username}}</strong><span ng-if="item.position">, {{item.position}}</span>)
      </md-item-template>
      <div ng-messages="feedback.user.$error" ng-if="feedback.user.$touched">
        <div ng-message="required">You <b>must</b> specify user first.</div>
      </div>
    </md-autocomplete>
  </div>
  <div ng-if="!!feedback.form">

    <md-input-container class="md-block">
      <label>Summary</label>
      <textarea ng-model="feedback.summary" maxlength="350" rows="5" md-select-on-focus></textarea>
    </md-input-container>

    <div class="md-block">
      <label class="form-section-title">Competencies</label>

      <div layout ng-repeat="characteristic in feedback.form.matrix.characteristics track by $index">
        <div flex="20" layout layout-align="center center">
          <span class="md-body-1">{{characteristic.name}}</span>
        </div>
        <md-slider flex md-discrete ng-model="feedback.competencies[characteristic._id]" min="0" max="10" aria-label="ranking"></md-slider>
      </div>

      <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary feedback" ng-click="$ctrl.saveFeedback(feedback)">Submit</md-button>
      </div>
    </div>

  </div>
  <h6 ng-show="!!!feedback.form" layout="row" layout-align="center center"><small>Please choose a feedbackee to load a feedback form.</small></h6>

</form>
