<h4 class="feedback-title">Give Feedback</h4>

<form action="" class="page-content">
  <div layout-gt-sm="row">
    <md-autocomplete flex required
                     md-input-name="autocompleteField"
                     md-min-length="0"
                     md-no-cache="$ctrl.noCache"
                     md-selected-item="$ctrl.selectedItem"
                     md-search-text="$ctrl.searchText"
                     md-items="item in $ctrl.querySearch($ctrl.searchText)"
                     md-item-text="item.name"
                     md-floating-label="Choose Employee">
      <md-item-template>
        <span md-highlight-text="$ctrl.searchText">{{item.name}}</span>
      </md-item-template>
      <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
        <div ng-message="required">You <b>must</b> have a favorite state.</div>
        <div ng-message="md-require-match">Please select an existing state.</div>
        <div ng-message="minlength">Your entry is not long enough.</div>
        <div ng-message="maxlength">Your entry is too long.</div>
      </div>
    </md-autocomplete>
  </div>
  <md-input-container class="md-block">
    <label>Your Feedback</label>
    <textarea  ng-model="feedback.text" md-maxlength="350" rows="5" md-select-on-focus></textarea>
  </md-input-container>
  <div class="md-block">
    <label class="form-section-title ">Competency</label>
    <div layout-gt-sm="row" ng-repeat="competency in $ctrl.competencyList track by $index">

      <label flex="25">{{competency.name}}</label>
      <fieldset class="rating">
        <input type="radio" id="star5_{{$index}}" name="rating_{{$index}}" value="5" /><label class = "full" for="star5_{{$index}}" title="Awesome _{{$index}}- 5 stars"></label>
        <input type="radio" id="star4half_{{$index}}" name="rating_{{$index}}" value="4 and a half" /><label class="half" for="star4half_{{$index}}" title="Pretty _{{$index}}good - 4.5 stars"></label>
        <input type="radio" id="star4_{{$index}}" name="rating_{{$index}}" value="4" /><label class = "full" for="star4_{{$index}}" title="Pretty _{{$index}}good - 4 stars"></label>
        <input type="radio" id="star3half_{{$index}}" name="rating_{{$index}}" value="3 and a half" /><label class="half" for="star3half_{{$index}}" title="Meh _{{$index}}- 3.5 stars"></label>
        <input type="radio" id="star3_{{$index}}" name="rating_{{$index}}" value="3" /><label class = "full" for="star3_{{$index}}" title="Meh _{{$index}}- 3 stars"></label>
        <input type="radio" id="star2half_{{$index}}" name="rating_{{$index}}" value="2 and a half" /><label class="half" for="star2half_{{$index}}" title="Kinda _{{$index}}bad - 2.5 stars"></label>
        <input type="radio" id="star2_{{$index}}" name="rating_{{$index}}" value="2" /><label class = "full" for="star2_{{$index}}" title="Kinda _{{$index}}bad - 2 stars"></label>
        <input type="radio" id="star1half_{{$index}}" name="rating_{{$index}}" value="1 and a half" /><label class="half" for="star1half_{{$index}}" title="Meh _{{$index}}- 1.5 stars"></label>
        <input type="radio" id="star1_{{$index}}" name="rating_{{$index}}" value="1" /><label class = "full" for="star1_{{$index}}" title="Sucks _{{$index}}big time - 1 star"></label>
        <input type="radio" id="starhalf_{{$index}}" name="rating_{{$index}}" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
      </fieldset>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
      <md-checkbox class="md-primary" ng-model="feeback.anonymous" aria-label="Checkbox 1">
        Post as Anonymous
      </md-checkbox>
    </md-input-container>

    <div layout="row" layout-align="center">
      <md-button class="md-raised md-primary">Submit</md-button>
    </div>
  </div>
</form>
