<div layout="column" layout-padding="">
    <md-content class="login-form" layout="row" layout-align="center">
        <md-card flex="35">
            <md-card-content>
                <div style="text-align: center; margin-top: 10px; margin-bottom: 25px">
                  <img height="128px" src="../view-home/img/evaluateone-icon.png">
                </div>
                <form name="LoginForm">
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input type="text" name="username" ng-model="$ctrl.login.username" required />
                        <div ng-messages="LoginForm.username.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your username.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="$ctrl.login.password" md-maxlength="64" required ng-keyup="$event.keyCode == 13 && $ctrl.submit()"/>
                        <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your password.</div>
                        </div>
                    </md-input-container>
                    <div layout="column" align-items='flex-end'>
                    <md-button ng-disabled="!LoginForm.$valid"
                    ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                    </div>
                    <div layout="row" layout-align="center" class="forgot-password">
                    <label ng-click="$ctrl.forgotPass()" >Forgot Password?</label>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </md-content>
</div>
