<md-list>
  <md-list-item class="md-2-line" ui-sref="dashboard.feedback-mine" ui-sref-active="md-list-item-active">
    <div class="md-list-item-text">
      <h3>My Feedback</h3>
      <p>List all feedbacks left on you</p>
    </div>
  </md-list-item>

  <md-list-item class="md-2-line" ui-sref="dashboard.feedback-give" ui-sref-active="md-list-item-active">
    <div class="md-list-item-text">
      <h3>Give Feedback</h3>
      <p>Give a feedback on your colleague</p>
    </div>
  </md-list-item>

  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Request Feedback</h3>
      <p>Ask a colleague to evaluate your skills</p>
    </div>
  </md-list-item>

  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>My Reports</h3>
      <p>Generate reports for users</p>
    </div>
  </md-list-item>
</md-list>
