.md-list-item-active .md-button .md-list-item-text * {
  font-weight: 800 !important;
}

.dashmenu {
   border: silver thin solid;
   box-shadow: 1px 1px 0px 0px black;
}

md-card{
  background: #f2f2f2;
}
