@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700');

body {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    color: #2c2e35 !important;
    font-size: 1.4em;
}

md-select {
  font-size: 0.7em !important;
}

.tooltip-multiline {
    height: auto !important;
}
